/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

/* barvicky elementů na stránce */
header,
footer {
	background: yellowgreen;
	height: 200px;
}

aside {
	background: beige;
}

nav {
	background: lightsteelblue;
}

/* -------------------------------------------- */
/* tady piš svoje CSS */
/* -------------------------------------------- */

.main {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
}

article,
aside,
nav {
	width: 200px;
	flex-basis: 100%;
	height: 300px;
}

article,
aside,
nav,
header,
footer {
	padding: 10px;
}




